{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": "usage",
                "targets": {
                    "browsers": "> 1%, not ie 11, not op_mini all"
                }
            }
        ],
        "@babel/react"
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/transform-runtime",
        [
            "import",
            {
                "libraryName": "@material-ui/core",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            },
            "@material-ui/core"
        ],
        [
            "import",
            {
                "libraryName": "@material-ui/core/styles",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            },
            "@material-ui/core/styles"
        ],
        [
            "import",
            {
                "libraryName": "@material-ui/core/colors",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            },
            "@material-ui/core/colors"
        ],
        [
            "import",
            {
                "libraryName": "@material-ui/icons",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            },
            "@material-ui/icons"
        ]
    ]
}